{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true
  },
  "globals": {
    "googletag" : true,
    "ga" : true,
    "graphql": true,
    "__PATH_PREFIX__": true
  },
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-trailing-commas",
    "standard-react"
  ],
  "rules": {
    "react/prop-types": "off",
    "camelcase": "off",
    "react/jsx-handler-names": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-closing-tag-location": "off"
  }
}
